/* psGeo borderless style */
/* Filter and Fullstats are borderless */
/* The popups More Filter, More Info, Other tools and About are borderless */

html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        }

#map {
        /* Map canvas */
        height: 100%;
        }

#Filter {
        /* Basic Filter Pane (upper left) */
        font-family: Arial, sans-serif;
        font-size: 90%;
        background: #fff;
        padding: 6px;
        margin: 10px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, .3);
        }

#Filter h3 {
        margin-top: 0;
        }

@media only screen and (max-width: 800px) {
    #Filter {
        font-size: 110%;
    }
}

#MoreFilter {
        /* Advanced Filter Pane (bottom center, on-demand). Google Maps custom control. */
        max-height: 90%;
        overflow: auto;
        font-family: Arial, sans-serif; 
        background-color: white;
        padding-left: 1em;
        padding-right: 1em;
        padding-top: 1em;
        padding-bottom: 0em;
        margin: 0 0 22px 0;
        box-shadow: 0 4px 12px rgba(0,0,0,.3);
        width: 25em;
        align-content: center;
        }

#Gpx {
        /* Advanced Filter Pane (bottom center, on-demand). Google Maps custom control. */
        max-height: 90%;
        overflow: auto;
        font-family: Arial, sans-serif; 
        background-color: white;
        padding-left: 1em;
        padding-right: 1em;
        padding-top: 1em;
        padding-bottom: 1em;
        margin: 0 0 22px 0;
        box-shadow: 0 4px 12px rgba(0,0,0,.3);
        width: 25em;
        align-content: center;
        }

.largeFont {
        /* Used in MoreFilter when window is small */
        font-size: 180%;
}

.largeInputFont {
        /* Used in MoreFilter when window is small */
        font-size: 90%;
}

.boldText {
        font-weight: bold;
}

#Fullstats {
        /* Statistics pane (lower left). */
        font-family: Arial, sans-serif;
        font-size: 80%;
        background: #fff;
        padding: 10px;
        margin: 10px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, .3);
        }

@media only screen and (max-width: 800px) {
    #Fullstats {
        font-size: 110%;
    }
}

#MoreInfo {
        /* Popup opened by the (i) button. */
        font-family: Arial, sans-serif;
        background: #fff;
        padding: 10px;
        margin: 10px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, .3);
        }

#Info h3 {
        margin-top: 0;
        }

#Info img {
        vertical-align: middle;
        }

#OtherTools {
        /* More tools. E.g. other cavemaps. */
        font-family: Arial, sans-serif; 
        background-color: white;
        padding: 10px;
        margin: 0 0 22px 0;
        box-shadow: 0 4px 12px rgba(0,0,0,.3);
        width: 30em;
        }

#AboutMenu {
        /* Credits */
        font-family: Arial, sans-serif; 
        background-color: white;
        padding: 10px;
        margin: 0 0 22px 0;
        box-shadow: 0 4px 12px rgba(0,0,0,.3);
        width: 30%;
        }

.genericMenuButton {
        background: none;
        padding: 0;
        border-width: 0;
        border: none;
        text-decoration: underline;
        font-family: arial,sans-serif;
        font-size: 90%;
}

#closeButton {
        /* hardcoded to belong to the genericMenuButton class */
        float: right;
        /* background-color: #555555; */
}

.checkboxControlButtons {
        /* Also other buttons in filter window */
        /* font-weight: bold; */
        text-decoration: none;
        color: white;
        background-color: #007bff;
        /* background-color: #555555; */
        padding: 1px 5px 1px 5px;
        margin-left: 5px;
        border-radius: 2px;
        
}

#rangeHighInput {
        /* number */
        width: 5em;
}

#rangeLowInput {
        /* number */
        width: 6em;
}

.flexboxRow {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: max-content;
        align-items: center;
        white-space: pre;
}

.flexboxRow button {
        height: 100%
}

.flexboxColumn {
        display: flex;
        flex-direction: column;
        white-space: pre
}

.marginRightNarrow {
        margin-right: 1em;
}

.marginRightWide {
        margin-right: 3em;
}

.marginTopNone {
        /* to keep checkbox contol buttons the same size */
        margin-top: 0;
}

.marginTopNarrow {
        /* Instead of adding <br> */
        margin-top: 1em;
}

.marginTopWide {
        margin-top: 3em;
}

.marginBottomNone {
        margin-bottom: 0;
}

.filterWindowTabbedMenuButton {
        font-weight: bold;
        text-decoration: none;
        color: white;
        background-color: #007bff;
        /* background-color: #555555; */
        padding: 1em;
        margin-right: 1em;
        border-radius: 2px;
}

#otherToolsTableOnSmallDisplay img {
        width: 60%;
}

#otherToolsTableOnSmallDisplay table {
        border-spacing: 0;        
}

#otherToolsTableOnLargeDisplay img {
        width: 80%;
}

#otherToolsTableOnLargeDisplay table {
        border-spacing: 0;        
}

.highlightError {
        background-color: #FF0000;
        color: white;
}
